body{
  font-family:Arial,sans-serif;
  margin:0px;
  padding:0px;
  line-height:1.6;
}
header{
  background-color: blue;
  color: #fff;
  padding: 1rem 0;
  text-align: center; 
}
nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0;
}
nav ul li{
  display: inline;
  margin: 0 15px;  
}
nav ul li a{
  color: blue;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  position:reletive;
}
nav ul li a:hover;{
  color:blue;
 }
section{
  margin: 20px auto;
  padding: 50px 20px;
  max-width: 800px;  
}
#project,#about#-me.{
  max-width:800px;
  margin:20px outo;
 .project{
   background-color:blue;
   margin:20px;
   padding:20px;
   border-radius:10px;
   box-shadow:0 4px 6px rgba<0, 0,0,0.1>;
   transition:transform 0.3s ease-in-out;
   display:flex;
   flex-direction:column;
   align-items:center:
}
  .project:hover{
    transform:translate{-5px}
  }
  form{
    display:flex;
    flex-direction:column;
    gap:5px;
    max-width:400px;
    margin:0 {auto;}
    input,textarea,button{
     width:100%;
     padding:10px;
     font-size:1rem;
      boder:1px solid #cc;
      boder-radies:5px;
    }
  button{
    background-color:#333;
    color:white;
    cursor:pointer;
    transition:backgraund-color:03s
    button:hove{
      backgraund-color:#ff9800;
    }
section h2{
  color:#333;
  margin-botton:10px;
footer{
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
nav ul il a:before{
  contet:'';
  position:adsolute;
  left:0;
  bottom:0;
  height:2px
  width:0;
  background:#ff9800;
  transihon:width0.3s case-in-out;
}
  nav ul li a:hover::before{
    width:100%;
 @media<max-width:768px{
   nav ul{
     flex-direction:colomn;
   }
     project{
       text-align:center;
     }
 }
